{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div style="background-color: #7e4242f0; padding:0.5%; margin-top:5%; text-align:center; color:#56b5ac;">
        <h1>Recipes</h1>
    </div>
    {% for recipe in recipes %}
    <div class="card col s4">
        <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
        <div class="container">
            <h5>{{recipe.recipe_title}}</h5>
            <div class="row">
                <ul>
                    <li class="recipe-details" id="recipe-serves">Serves: {{recipe.serves}}</li>
                    <li class="recipe-details" id="recipe-time">Cooking time: {{recipe.cooking_time}} </li>
                    <li class="recipe-details" id="recipe-category"> Category: {{recipe.category_name}}</li>
                    <li class="recipe-details" id="recipe-origin">Origin: {{recipe.origin}}</li>
                    <li class="recipe-details" id="recipe-difficulty"> Difficulty: {{recipe.difficulty_type}}</li>
                    <li class="recipe-details" id="recipe-ingredients">Ingredients: {{recipe.ingredient}}</li>
                </ul>
            </div> 

        </div>
    </div>
    {% endfor %}
   
</div>
{% endblock %}