{% extends 'base.html' %}
{% block content %}
<div class="card col s4">
    <div class="row">
        <div class="container">
            <div class="row">
                <h1 class="recipe-title">{{recipe.recipe_title}}</h1>
            </div>
            <div class="details-container">
                <p class="recipe-details" id="recipe-author">Author: {{recipe.author}}</p>
                <p class="recipe-details" id="recipe-serves">Serves: {{recipe.serves}}unites</p>
                <p class="recipe-details" id="recipe-time"> Cooking time: {{recipe.cooking_time}} minutes</p>
                <p class="recipe-details" id="recipe-category">Category:{{recipe.category_name}} </p>
                <p class="recipe-details" id="recipe-difficulty"> Difficulty: {{recipe.difficulty_type}}</p>
            </div>
            <div class="description-container">
                <p class="recipe-description" id="recipe-description">Description: {{recipe.description}}</p>
            </div>
            <div class=ingredients-container">
                <ul class="ingredients_list">
                    <p class="recipe-details" id="recipe-ingredients">Ingredients: {{recipe.ingredient}}</p>
                </ul>
            </div>
            <div class="steps-container">
                <p class="recipe-steps" id="recipe-steps">Instructions: {{recipe.steps}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}